<div class="signed-in">
  <% if signed_in? %>
  <a class="button" data-method="delete" href="/signout"><%="(#{current_user.name})" %> Sign out</a>
  <% else %>
    <%= link_to 'Sign in', signin_path, { :class=>"button is-link is-light" } %>
  <% end %>
</div>

<div class="post-info">
  <% if signed_in? %>
    <h4><%=post.title %></h4><br>
    <p>
      <strong>Posted by: <%= post.user.name %></strong>
      <br>
      <%= post.body %>
    </p>
    <% else %>
    <h4><%=post.title %></h4><br>
    <p>
      <%= post.body %>
    </p>
    <% end %>
</div>
