<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
  <br><br>
  <%= form.label :message %><br />
  <%= form.text_area :body, size: "60x10" %>
  <br><br>
  <%= form.submit %>
<% end %>

<%= link_to 'index', posts_path(@post) %>
